<!-- Footer -->

<hr>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <ul class="list-inline text-center">
          {% if site.twitter_username %}
          <li class="list-inline-item">
            <a href="https://www.twitter.com/{{ site.twitter_username }}">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          {% endif %}
          {% if site.facebook_username %}
          <li class="list-inline-item">
            <a href="https://www.facebook.com/{{ site.facebook_username }}">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          {% endif %}
          {% if site.github_username %}
          <li class="list-inline-item">
            <a href="https://github.com/{{ site.github_username }}">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-github fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          {% endif %}
        </ul>
        <p class="copyright text-muted">
          Copyright &copy; {{ site.author }} {{ 'now' | date: "%Y" }} | 
          <iframe
            style="margin-left: 2px; margin-bottom:-5px;"
            frameborder="0" scrolling="0" width="91px" height="20px"
            src="https://ghbtns.com/github-btn.html?user=mengxn&repo=mengxn.github.io&type=star&count=false" >
          </iframe>
        </p>
      </div>
    </div>
  </div>
</footer>
